.inventory-details {
  margin-top: 20px;
}

.inventory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
  color: #EF553B;
}

.inventory-header span {
  color: #EF553B;
}

.inventory-header:hover {
  background-color: #f5f5f5;
}

.inventory-items {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.category {
  flex: 1;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item span {
  flex: 1;
  text-align: left;
}

.edit-inventory-button,
.edit-house-button {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-inventory-button:hover,
.edit-house-button:hover {
  background-color: #333;
  color: #fff;
}


.house-details {
  margin-top: 20px;
}

.house-details h4 {
  color: #ff5722;
}

.house-details-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.house-details-row span {
  flex: 1 1 22%;
  margin-bottom: 5px;
}