.sidebar {
  width: 175px;
  background-color: #f8f9fa;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  color: #333;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar-link:hover {
  background-color: #e9ecef;
}

.sidebar-link svg {
  margin-right: 10px;
}